<div class="registration-wrapper">
  <div class="registration-container">
    <div class="registration-heading">新規登録</div>

    <form action="" class="registration-form">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">

      <input type="submit" value="登録" class="btn">
    </form>
  </div>
</div>