@import "reset";
@import "users";


.header {
  height: 60px;
  width: 100vw;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
  .header-left {
    font-size: 25px;
  }

  .header-right {
    background-color: #eeeeee;
    font-size: 20px;
    .header-menu {
      display: flex;
      justify-content: space-between;

      & li {
        margin: 0 5px;
      }
    }
  }
}

.footer {
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-message {
    color: grey;
  }
}