

/* 詳細ページ */

.join {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  .join-btn {  
    background-color: lightseagreen;
    padding: 10px 15px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
  }
}