<div class="wrapper">

  <div class="menu-bar">
    <div class="menu-bar-box">
      <div class="profile-image"></div>
      <ul class="menu-items">
        <li>＜検索条件＞</li>
        <li>条件１</li>
        <li>条件2</li>
        <li>条件3</li>
        <li>条件4</li>
        <li>条件5</li>
        <li><a href="">検索する</a></li>
      </ul>
    </div>
  </div>
    
  <div class="main">
    <%# <div class="main-heading">投稿する</div> %>
    <ul class="posts">
      <li><a href="/communities/1">コミュニティ1</a></li>
      <li>コニュニティ2</li>
      <li>コニュニティ3</li>
      <li>コニュニティ4</li>
      <li>コニュニティ5</li>
    </ul>
  </div>
  
  <%# <div class="right-bar">
    <div class="right-bar-box">
    </div>
    <div class="right-bar-box">
    </div>
  </div> %>
  
</div>